
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.html {
  height: 100%;
}

.layout {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "PT Sans", sans-serif;
  display: flex;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #f2f2f2;
  margin: 0;
  min-width: 1200px;
}

.page-header {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 70px;
  margin-left: 70px;
}

.navigation-logo {
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 44px;
  gap: 32px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  align-items: center;
}

.navigation-user-link {
  width: 44px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 22px 12px;
  display: flex;
  justify-content: center;
}

.navigation-item-user {
  width: 44px;
  align-content: center;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 18px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-icon {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#000000;
}

.navigation-icon:hover path,
.navigation-icon:focus path {
  fill: #756157;
}

.navigation-icon:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.header-logo {
  width: 140px;
  height: 70px;
  margin: -10px;
}

.main-index {
  color:#000000;
  background-color: #ffffff;
}

.main-inner {
  background-color: #ffffff;
}

.hero-block {
  background-image: url(../images/content/index-background.jpg);
  background-repeat: no-repeat;
  min-height: 485px;
  padding-top: 51px;
  position: relative;
}

.welcome-section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 25px;
  margin: 0;
}

.welcome-section-block {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 90px;
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #ffffff;
  list-style-type: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 92px 0 30px 0;
  max-width: 175px;
}

.advantages-title-white {
  padding-top: 103px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 111px;
  width: 230px;
}

.advantages-description-white {
  padding-bottom: 121px;
}

.amenities-description {
  padding-bottom: 81px;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-item-town {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-area {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-bridge {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-housing {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.amenities-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 26px 0 30px 0;
}

.advantages-item-img {
  width: 800px;
  display: block;
  height: 100%;
}

.advantages-img {
  display: block;
  padding-top: 80px;
}

.hotel-booking {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.hotel-booking-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 54px;
}

.button-booking {
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.button-booking:hover {
  background-color: #615048;
}

.subscribe {
  padding-top: 98px;
  padding-bottom: 104px;
  background-size: 100% auto;
  color: #000000;
  text-align: center;
}

.subscribe-main {
  background-image: url(../images/content/background-subscribe.jpg);
  background-size: 100% auto;
  color: #ffffff;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 475px;
  padding-bottom: 54px;
}

.subscribe-button {
  background-color: #82b3d3;
  color: #ffffff;
  width: 232px;
  height: 52px;
  margin: 0;
  font-size: 18px;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  letter-spacing: -1px;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.footer-social-list {
  list-style-type: none;
}

.footer-contacts {
  text-align: center;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.filter-section {
  background-image: url(../images/content/catalog-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  color: #ffffff;
  display: flex;
  padding: 35px 70px 53px 70px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 40px;
  gap: 10px;
  padding-top: 8px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 100%;
  margin: 0;
}

.product-card-title {
  font-weight: 700;
  text-decoration: none;
  color:#000000;
  margin: 0;
  width: 100%;
  grid-column: 1 / -1;
  padding-top: 15px;
  font-size: 24px;
  line-height: 28px;
}

.product-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.rating-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.product-card-button {
  text-decoration: none;
  color: #ffffff;
  width: 140px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-radius: 4px;
}

.pagination {
  background-color: #ffffff;
  display: flex;
  padding: 79px 70px 60px 70px;
  list-style-type: none;
  gap: 8px;
  margin: 0;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.pagination-pages {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
}

.pagination-link:hover:not(.pagination-current) {
  background-color: #68A2CA;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  padding: 46px 0 30px 0;
}

.sorting-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 50px 70px 40px 70px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1060px;
  margin: 0 auto;
  padding-left: 0;
  gap: 17px 20px;
}

.product-card {
  width: 340px;
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.product-card:nth-child(3n){
  margin-right: 0;
}

.product-card-image {
  width: 300px;
  grid-column: 1 / -1;
  object-fit: contain;
  display: block;
}

.product-name {
  grid-column: 1 / 2;
  padding: 0;
  margin: 0;
}

.product-card-price {
  grid-column: 2 / 3;
  justify-self: end;
  margin: 0;
}

.product-card-button-more {
  grid-column: 1 / 2;
  background-color: #756157;
}

.product-card-button-more:hover,
.product-card-button-more:focus {
  background-color: #615048;
}

.product-card-button-favorites {
  grid-column: 2 / 3;
  background-color: #82B3D3;
}

.product-card-button-favorites:hover,
.product-card-button-favorites:focus {
background-color: #68A2CA;
cursor: pointer;
}

.rating {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin-bottom: 17px;
}

.rating-star {
  background-image: url(../images/decor/star.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.rating-text {
  grid-column: 2 / 3;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 9px;
  border-radius: 4px;
}

.catalog-filter-group {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
  padding-right: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding-left: 36px;
}

.button-login {
  width: 160px;
  height: 36px;
  color: #ffffff;
  background-color: #756157;
  margin: 0;
  border: 0;
  padding: 8px 34px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin-left: 20px;
}

.button-login:hover {
  background-color: #615048;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  display: block;
  width: 24px;
  height: 16px;
}

.sorting-container .select-control {
  width: 292px;
  height: 49px;
  margin-left: auto;
  margin-right: 62px;
  font-size: 16px;
  line-height: 21px;
}

.sorting-results {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-right: 7px;
}

.button {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: inline-block;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 8px;
}

.card-grid-toggle-current {
  border: 2px solid black;
}

.card-grid-toggle:hover,
.card-grid-toggle:active {
  border: 2px solid black;
  cursor: pointer;
}

.card-grid-toggle:focus:not(.card-grid-toggle-current) {
  border: 2px solid #68A2CA;
}

.select-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: url(../images/decor/select-control-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.advantages-title::after {
  content:'';
  width: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-block:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  left: 0;
  background-image: url(../images/decor/divider-index-background.svg);
}

.count-badge {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
  padding: 5px 5px 5px 4px;
  top: -11px;
  left: 20px;
}

.subscribe-input {
  width: 452px;
  height: 52px;
  padding: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  font-size: 17px;
  line-height: 24px;
  padding-left: 20px;
  background-color: #f2f2f2;
  outline: none;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-main {
  color: #ffffff;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-link:hover,
.footer-link:focus {
  color: #756157;
}

.footer-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.price-range {
  display: grid;
  grid-template-columns: 143px 143px;
  column-gap: 2px;
  padding-left: 80px;
  position: relative;
}

.price-range-text {
  grid-column: 1 / 3;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: -4px;
  margin-left: 2px;
}

.price-from {
  grid-column: 1 / 2;
  width: 143px;
  height: 48px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
  outline: none;
  margin-left: 2px;
}

.price-to {
  grid-column: 2 / 3;
  width: 143px;
  height: 48px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border: none;
  outline: none;
  margin-left: 2px;
}

.price-from,
.price-to {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 20px;
  background-color: #F2F2F2;
}

.price-from:hover,
.price-to:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}

.price-from:focus,
.price-to:focus {
  background-color: #E6E6E6;
  cursor: pointer;
  border: 3px solid #83B3D3;
}

.price-from:active,
.price-to:active {
  cursor: pointer;
  border: 3px solid #000000;
}

.control-mark:hover,
.control-label:hover {
  opacity: 0.6;
}

.control-mark:focus {
  border: 3px solid #83B3D3;
}

.control-mark:active,
.control-label:active {
  opacity: 0.3;
}

.price-range::before {
  content: "от";
  position: absolute;
  left: 189px;
  bottom: 86px;
  color: gray;
  line-height: 24px;
}

.price-range::after {
  content: "до";
  position: absolute;
  left: 330px;
  bottom: 85px;
  color: gray;
  line-height: 24px;
}

.range-slider {
  grid-column: 1 / 3;
  position: relative;
  height: 4px;
  background-color: grey;
  top: 9px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 2px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.catalog-filter-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: auto;
  margin-top: 56px;
}

.catalog-filter-button {
  width: 191px;
  height: 36px;
  border-radius: 4px;
  color: #ffffff;
}

.catalog-filter-button-apply {
  background-color: #82B3D3;
  margin-top: -1px;
}

.catalog-filter-button-erase {
  background: none;
}

.catalog-filter-button-apply:hover,
.catalog-filter-button-apply:focus {
  background-color: #68A2CA;
  cursor: pointer;
}

.catalog-filter-button-apply:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.catalog-filter-button-erase:hover,
.catalog-filter-button-erase:active {
color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-button-erase:focus {
  border: 3px solid #83B3D3;
}

.control {
  position: relative;
  display: block;
  padding-top: 16px;
}

.control-mark {
  position: absolute;
  top: 15px;
  left: -35px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  background-image: url(../images/decor/checkbox-tick.svg);
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
}

.control-label {
  line-height: 23px;
  padding-top: 16px;
}

.button-favorites-selected {
  background-color: #7DB54F;
}

.button-favorites-selected:hover,
.button-favorites-selected:focus {
  background-color: #6C9E42;
}

.button-favorites-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-icon:hover path,
.footer-social-icon:focus path {
  fill: #68A2CA;
}

.footer-social-icon:active path {
  fill: rgba(104, 162, 202, 0.3)
}

.footer-logo-icon {
  margin-top: 2px;
}

.footer-logo-icon:hover path,
.footer-logo-icon:focus path {
  fill: #756157;
}

.footer-logo-icon:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  outline: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-auth {
  width: 717px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-image: url(../images/decor/modal-close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 2px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 48px;
  width: 577px;
}

.count-field {
  width: 110px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.modal-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 12px;
}

.subtract,
.add {
  border: none;
  position: absolute;
  cursor: pointer;
  padding: 0;
  padding-left: 6px
}

.subtract:hover path,
.add:hover path {
  fill: #000000;
}

.subtract:focus path,
.add:focus path {
  border: 3px solid #83B3D3;
}

.subtract-adult {
  top: 372px;
  left: 211px;
  z-index: 1;
}

.add-adult {
  top: 372px;
  left: 282px;
  z-index: 1;
}

.subtract-children {
  top: 372px;
  left: 539px;
  z-index: 1;
}

.add-children {
  top: 372px;
  left: 611px;
  z-index: 1;
}

.count-image {
  display: block;
}

.modal-label-children {
  padding-top: 12px;
}

.modal-field {
  width: 440px;
  height: 48px;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  padding-left: 20px;
  margin-left: auto;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  background-image: url(../images/decor/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.modal-field:hover {
  background-color: #E6E6E6;
}

.modal-field:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.group-form-arrival {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 48px;
  width: 577px;
  position: relative;
}

.group-form-departure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 48px;
  width: 577px;
  align-content: center;
}

.modal-form-group-row {
  display: flex;
  flex-direction: row;
}

.adult-count-field {
  margin-right: 87px;
}

.children-count-field {
  margin-left: 84px;
}

.modal-label-adult {
  margin-right: 46px;
}

.group-form-arrival:after {
  content:'Мы не можем отправить вас в прошлое.';
  width: 280px;
  position: absolute;
  color: #FF5757;
  left: -100px;
  font-size: 16px;
  line-height: 21px;
  left: 157px;
  top: 52px;
}

.group-form-departure:after {
  content:'На эти даты есть свободные номера. Пока есть.';
  width: 331px;
  position: absolute;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  left: 227px;
  top: 314px;
}

.modal-content-button {
  width: 577px;
  height: 60px;
  background-color: #83B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
}

.modal-content-button:hover,
.modal-content-button:focus {
  background-color: #68A2CA;
}

.modal-content-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 26px;
  height: 26px;
  display: block;
  background-color: #83B3D3;
  border-radius: 50%;
  margin-left: 10px;
  position: absolute;
  top: -5px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  border-radius: 10px;
  width: 256px;
  padding: 20px 18px 15px 22px;
  position: absolute;
  z-index: 1;
  left: -106px;
  top: 36px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 26px;
  height: 26px;
}

.tooltip-text:after {
  content:'';
  background-image: url(../images/decor/tooltip-arrow.svg);
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.modal-container-close {
  display: none;
}
